.why-we {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 80px 0 80px 0;

  .why-we--header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 87px;
    text-align: center;
    text-transform: uppercase;
    color: #161841;
  }

  .why-we--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
  }
}

@media (max-width: 968px) {
  .why-we {
    gap: 40px;
    margin: 40px 0 60px 0;
    .why-we--header {
      font-size: 24px;
      line-height: 30px;
    }
  }
}